:root {
  --primary: rgb(26 68 114);
  --surface-tint: rgb(58 96 143);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(81 118 167);
  --on-primary-container: rgb(255 255 255);
  --secondary: rgb(56 67 84);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(106 117 135);
  --on-secondary-container: rgb(255 255 255);
  --tertiary: rgb(80 59 90);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(132 108 142);
  --on-tertiary-container: rgb(255 255 255);
  --error: rgb(140 0 9);
  --on-error: rgb(255 255 255);
  --error-container: rgb(218 52 46);
  --on-error-container: rgb(255 255 255);
  --background: rgb(248 249 255);
  --on-background: rgb(25 28 32);
  --surface: rgb(248 249 255);
  --on-surface: rgb(25 28 32);
  --surface-variant: rgb(223 226 235);
  --on-surface-variant: rgb(63 67 74);
  --outline: rgb(91 95 103);
  --outline-variant: rgb(119 123 131);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(46 48 53);
  --inverse-on-surface: rgb(239 240 247);
  --inverse-primary: rgb(164 201 254);
  --primary-fixed: rgb(81 118 167);
  --on-primary-fixed: rgb(255 255 255);
  --primary-fixed-dim: rgb(55 94 141);
  --on-primary-fixed-variant: rgb(255 255 255);
  --secondary-fixed: rgb(106 117 135);
  --on-secondary-fixed: rgb(255 255 255);
  --secondary-fixed-dim: rgb(82 93 110);
  --on-secondary-fixed-variant: rgb(255 255 255);
  --tertiary-fixed: rgb(132 108 142);
  --on-tertiary-fixed: rgb(255 255 255);
  --tertiary-fixed-dim: rgb(106 84 116);
  --on-tertiary-fixed-variant: rgb(255 255 255);
  --surface-dim: rgb(217 218 224);
  --surface-bright: rgb(248 249 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(242 243 250);
  --surface-container: rgb(237 237 244);
  --surface-container-high: rgb(231 232 238);
  --surface-container-highest: rgb(225 226 233);
}
